<div class="card">
  <%= image_tag("http://placehold.it/300x300", class: "card-image") %>
  <div class="card-price inline">55€</div>
  <div class="card-description">
    <h2>Caravan title</h2>
    <p>Caravan city</p>
  </div>
  <img class="card-user avatar" src="user.jpg">
  <a class="card-link" href="#" ></a>
</div>
