<div class="footer text-center">
  <div>
    <p>Join the tribe</p>
  </div>
  <div class="inline">
    <i class="fa fa-facebook-official"></i>
    <i class="fa fa-twitter"></i>
    <i class="fa fa-instagram"></i>
  </div>
</div>
