<h1>Caravans</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <p> Résultats en fonction des recherches en page home </p>
      </div>
      <div class="col-md-6">
        <div id="map" style="width: 100%; height: 400px;"></div>
         <% content_for(:after_js) do %>
          <%= javascript_tag do %>
            $(document).on('ready', function() {
              handler = Gmaps.build('Google');
              handler.buildMap({ internal: { id: 'map' } }, function(){
                markers = handler.addMarkers(<%= raw @markers.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
              });
            })
          <% end %>
        <% end %>
    </div>
  </div>
  <div class="row button-back">
    <%= link_to "Nouvelle recherche", pages_home_path, class:"btn btn-primary" %>
  </div>
</div>
