<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('header.jpg');">
    <div class="banner-content">
      <%= render 'shared/navbar_home' %>
      <h1>Man versus Caravan</h1>
      <p></p>
      <a class="btn btn-primary btn-lg">Rent one!</a>
    </div>
</div>
