<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('header.jpg');">
    <%= render 'shared/navbar_home' %>
    <div class="banner-content">
      <h1>Man versus Caravan</h1>
      <p></p>
      <a class="btn btn-primary btn-lg">Rent one!</a>
    </div>
</div>

<div class="search-form">
  <h2>Find a caravan</h2>
  TO DO : create search-form partial
</div>

<div>
  <h2>Meet some of our caravans</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <%= render 'shared/caravan_cards' %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= render 'shared/caravan_cards' %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= render 'shared/caravan_cards' %>
      </div>
    </div>
  </div>
</div>

<div>
  <h2>Here's why people love us</h2>

</div>

