<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('header.jpg');">
    <div class="banner-content">
      <%= render 'shared/navbar_home' %>
      <h1>Man versus Caravan</h1>
      <p></p>
      <a class="btn btn-primary btn-lg">Rent one!</a>
    </div>
</div>

<div class="search-form">
  <h2>Find a caravan</h2>
  TO DO : create search-form partial
</div>

<div>
  <h2>Meet some of our caravans</h2>

</div>

<div>
  <h2>Here's why people love us</h2>

</div>

